<h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, size: '60x60', fallback: "no_image.jpg" %>
  <table class="table">
   <tbody>
    <tr>
	  <th>name</th>
	  <th><%= current_user.name %></th>
    </tr>
    <tr>
	  <th>introduction</th>
	  <th><%= current_user.introduction %></th>
    </tr>
   </tbody>
  </table>

<div class="row">
   <%= link_to edit_user_path(current_user), class: 'btn btn-outline-secondary btn-block edit_user' do %>
     <i class= "fas fa-user-cog"></i>
   <% end %>
</div>

<h2>New book</h2>
<% if book.errors.any? %>
  <%= book.errors.count %>error prohibited this obj from being saved:
   <% book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
 <% end %>
 <%= form_with model:book, local:true do |f| %>
   <h4>Title</h4>
   <div><%= f.text_field :title %></div>

   <h4>Opinion</h4>
   <div><%= f.text_area :body %></div>

   <div><%= f.submit 'Create Book', class: 'btn btn-sm btn-success' %></div>
<% end %>